.head {
    margin-bottom: 60px;
} 


 body, .card { 
    background: url("../images/graveyard.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    border: none;
     
}  

h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #4f4f4f;
    text-shadow: 2px 2px 3px  #cecdcd;
    text-align: center;
    letter-spacing: -1px;

    
}


h3 {
    margin-top: 85px;
    margin-left: -5px;

}

h5, h6 {
    margin-left: -10px;

}

.skull {
    margin: 175px 0 0 125px;
    max-width: 45%;
   
}

.stone {
    text-align: center;
    left: 10px;
    top: 185px;
    margin: auto;

}


